---
import Layout from "../../layouts/Layout.astro"
import Spotlight from "../../components/Spotlight.astro"

---

<Layout pageTitle="Spotlight of the Week">
  <div class="spotlight-page">
    <Spotlight />
  </div>
</Layout>
